= simple_form_for(@badge, html:{ multipart: true }) do |f|
  = render partial: 'shared/errors', locals: { resource: @badge }
  .col-md-4
    .span4
      = image_tag 'no-image.svg'
      %section
        %h5 Browse Images
        .field
          = f.input :image, class: 'browse', label: false
  .col-md-8
    .span8
      .field
        = f.input :name
      .field
        = f.input :description
      .field
        = f.input :award_id,
                  collection: BadgesEngine::Award.all,
                  value_method: :id,
                  label_method: :title,
                  prompt: 'Select an Award'
      .field
        = f.input :value_id,
                  collection: BadgesEngine::Value.all,
                  value_method: :id,
                  label_method: :name,
                  prompt: 'Select a Value'
      .field
        = label_tag 'Path:'
        #levels
          = f.simple_fields_for :levels do |level|
            = render 'level_fields', f: level
        .links
          = link_to_add_association '+ Add level', f, :levels
      .actions
        = link_to 'Cancel', badges_path, class: 'btn btn-disabled'
        = f.submit 'Save', class: 'btn'
.clearfix
